h1{
    color:green;
    text-align: center;
    
}

img{
    width: 250px;

}

.side{
    position: relative;
    bottom: 250px;
    left:350px
}
button{
    background-color:#949392;
    color:white


}

.buttons{
    position: relative;
    bottom: 190px;
    left:20px;
}